:root {
  --primary-color: #0065ea;
  --secondry-color: #f0ffff;
  --Tertiary-color: #d9f2ff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--Tertiary-color);
  display: flex;
  flex-direction: column;
}
.background {
  height: 254px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(101, 0, 163, 0.8),
      rgba(24, 120, 175, 0.8)
    ),
    url(kazuend-cCthPLHmrzI-unsplash.jpg);
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
}
.first-heading {
  font-size: 4rem;
  color: var(--secondry-color);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
  font-weight: 100;
}
.heading-special {
  font-weight: 700;
}

.container,
footer {
  width: 80%;
  margin: auto;
}
.container {
  background-color: var(--secondry-color);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 50vh;
}
textarea {
  resize: none;
  all: unset;
  width: 55%;
  padding: 1rem;
   white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;

  overflow-x: hidden;
  overflow-y: auto;
}
textarea::placeholder {
  font-weight: 600;
  opacity: 0.4;
}
.yellowTextColor{
    color: yellow;
}
footer {
  display: flex;
  justify-content: space-between;
}
.stats {
  background-color: var(--primary-color);
  color: var(--secondry-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 45%;
}
.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  font-weight: 600;
}
.stat span {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.stat h2 {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #71afff;
}
.stat:first-child {
  border-bottom: 1px solid #4797ff;
  border-right: 1px solid #4797ff;
}
.stat:nth-child(2) {
  border-bottom: 1px solid #4797ff;
}
.stat:nth-child(3) {
  border-right: 1px solid #4797ff;
}
footer{
    margin: 1rem auto;
    color: gray;
}
@media (max-width:700px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .first-heading{
        font-size: 1.5rem;
        text-align: center;
    }
    .container{
        flex-direction: column;
        height: 80vh;
    }
    textarea,.stats{
        width: 100%;
    }
    textarea{
        height: 100%;
        width: 90%;
        padding: 1rem;
    }
    .stat{
        padding: 0.6rem;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
}
